{% extends 'padre.html' %}

{% block sidebar_content %}

    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-primary sidebar collapse border-end vh-100" style="border-top-left-radius: 25px; border-top-right-radius: 25px;">
        <div class="position-sticky pt-4">
            <h6 class="sidebar-heading d-flex justify-content-center align-items-center px-3 mt-4 mb-1 text-white fw-bold">
                <span>Ventas</span>
            </h6>
            <hr class="text-white">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link  {% if '/ventas/' in request.path %}active{% endif %}  text-white fw-bold custom-active-button d-flex align-items-center" aria-current="page" href="{% url 'App_LUMINOVA:ventas' %}" style="border-radius: 25px;">
                        <i class="bi bi-clipboard"></i> <span class="ms-2">Vista General</span>
                    </a>
                </li>
                <li class="nav-item mt-2">
                    <a class="nav-link  {% if '/generar-op/' in request.path %}active{% endif %}  text-white fw-bold custom-active-button d-flex align-items-center" href="{% url 'App_LUMINOVA:generar_op' %}" style="border-radius: 25px; padding-top: 0.75rem; padding-bottom: 0.75rem;">
                        <i class="bi bi-card-checklist"></i> <span class="ms-2">Generar OP</span>
                    </a>
                </li>
                <li class="nav-item mt-2">
                    <a class="nav-link  {% if '/buscar-op/' in request.path %}active{% endif %}  text-white fw-bold custom-active-button d-flex align-items-center" href="{% url 'App_LUMINOVA:buscar_op' %}" style="border-radius: 25px;">
                        <i class="bi bi-flag"></i> <span class="ms-2">Buscar OP</span>
                    </a>
                </li>
                <li class="nav-item mt-2">
                    <a class="nav-link  {% if '/clientes/' in request.path %}active{% endif %}  text-white fw-bold custom-active-button d-flex align-items-center" href="{% url 'App_LUMINOVA:clientes' %}" style="border-radius: 25px;">
                        <i class="bi bi-flag"></i> <span class="ms-2">Clientes</span>
                    </a>
                </li>
            </ul>
            <h6 class="sidebar-heading d-flex justify-content-center align-items-center px-3 mt-4 mb-1 text-white fw-bold">
                <span>Órdenes de Producción</span>
            </h6>
            <hr class="text-white">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link  {% if '/ventas/' in request.path %}active{% endif %}  text-white fw-bold custom-active-button d-flex align-items-center" aria-current="page" href="{% url 'App_LUMINOVA:ventas' %}" style="border-radius: 25px;">
                        <i class="bi bi-clipboard"></i> <span class="ms-2">Nueva OP</span>
                    </a>
                </li>
                <li class="nav-item mt-2">
                    <a class="nav-link  {% if '/generar_op/' in request.path %}active{% endif %}  text-white fw-bold custom-active-button d-flex align-items-center" href="{% url 'App_LUMINOVA:generar_op' %}" style="border-radius: 25px; padding-top: 0.75rem; padding-bottom: 0.75rem;">
                        <i class="bi bi-card-checklist"></i> <span class="ms-2">Añadir Item</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>


{% endblock %}

{% block content %}

    <h1> Vista de Ventas </h1>

    <section>
        <div class="table-responsive">
            <table class="table">
                <tr class="table-primary">
                    <th>Fecha</th>
                    <th>N° OP</th>
                    <th>Cliente</th>
                    <th>Detalles del Producto</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                    <th>Estado</th>
                </tr>
                <tr>
                    <td>16/04/25</td>
                    <td>OP-0025</td>
                    <td>Constructora LuxHabitat S.A.</td>
                    <td>Foco de Exterior 1</td> <!-- Al apretar el producto se podria abrir un modal con sus detalles -->
                    <td>100</td>
                    <td>XXX.XX$ ARS</td>
                    <td>En proceso</td>
                </tr>
                   <tr>
                    <td>22/04/25</td>
                    <td>OP-0045</td>
                    <td>Iluminaciones del Centro S.A</td>
                    <td>Foco de Exterior 2</td> <!-- Al apretar el producto se podria abrir un modal con sus detalles -->
                     <td>150</td>
                    <td>XXX.XX$ ARS</td>
                    <td>En proceso</td>
                </tr>
            </table>

        </div>

    </section>

{% endblock %}